Source: buildkit
Section: admin
Priority: optional
Maintainer: Docker <support@docker.com>
Homepage: https://github.com/moby/buildkit
Vcs-Browser: https://github.com/moby/buildkit
Vcs-Git: git://github.com/moby/buildkit.git
Standards-Version: 4.1.4
Build-Depends: dh-apparmor,
               debhelper (>= 10~) | dh-systemd,
               gcc,
               libc-dev,
               pkg-config,
               libseccomp2,
               libseccomp-dev,
               make

Package: buildkit
Architecture: any
Depends: libseccomp2 (>= 2.3.0),
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: ca-certificates,
            git,
            pigz,
            procps,
            xz-utils
Description: BuildKit is concurrent, cache-efficient, and Dockerfile-agnostic builder toolkit for converting source code to build artifacts.
