#!/usr/bin/make -f

# force packages to be built with xz compression, as Ubuntu 21.10 and up use
# zstd compression, which is non-standard, and breaks 'dpkg-sig --verify'
override_dh_builddeb:
	dh_builddeb -- -Zxz

override_dh_auto_build:
	mkdir -p /usr/libexec/docker/cli-plugins && \
	cd $(CURDIR)/scan && \
	PLATFORM_BINARY=docker-scan COMMIT=$(REVISION) TAG_NAME=$(VERSION) make native-build && \
	mv bin/docker-scan /usr/libexec/docker/cli-plugins/docker-scan

override_dh_auto_test:
	ver="$$(/usr/libexec/docker/cli-plugins/docker-scan docker-cli-plugin-metadata | awk '{ gsub(/[",:]/,"")}; $$1 == "Version" { print $$2 }')"; \
		test "$$ver" = "$(VERSION)" && echo "PASS: docker-scan version OK" || (echo "FAIL: docker-scan version ($$ver) did not match" && exit 1); \

override_dh_strip:
	# Go has lots of problems with stripping, so just don't

override_dh_auto_install:
	install -D -m 0755 /usr/libexec/docker/cli-plugins/docker-scan debian/docker-scan-plugin/usr/libexec/docker/cli-plugins/docker-scan

override_dh_installinit:
	dh_installinit

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_install:
	dh_install

override_dh_gencontrol:
	dh_gencontrol --remaining-packages

%:
	dh $@
