name: release-docker-engine

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
    inputs:
      ref:
        description: 'Ref (e.g. v23.0.0)'
        required: true
        type: string
      repo:
        description: 'Override default repo'
        required: false
        type: string
      release:
        description: 'Push image and create release'
        required: false
        type: boolean

jobs:
  release:
    uses: ./.github/workflows/.release.yml
    with:
      name: docker-engine
      release: ${{ inputs.release }}
      envs: |
        DOCKER_ENGINE_REPO=${{ inputs.repo }}
        DOCKER_ENGINE_REF=${{ inputs.ref }}
    secrets: inherit
