name: release-containerd

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
    inputs:
      ref:
        description: 'Tag/ref to build (e.g. v1.6.15)'
        required: true
        type: string
      runc_ref:
        description: '(optional) Runc tag/ref to build (e.g. v1.1.10). Defaults to the containerd version.'
        required: false
        type: string
        default: ''
      release:
        description: '(optional) Release type to create in https://github.com/docker/packaging/releases'
        required: false
        default: 'draft'
        type: choice
        options:
          - pushonly
          - draft
          - prerelease
          - release
      distros:
        description: '(optional, empty = all supported) Distros to build (comma-separated, e.g. "debian12,ubuntu2204")'
        required: false
        type: string
        default: ''
      revision:
        description: |
          Revision of the package to build. Only in case we ever would have to re-build an already published release with a packaging-only change.
          Default for a tagged/upstream release is 1.
        required: false
        type: string
        default: ''
      repo:
        description: '(optional) Override default repo (if want to build from a different Github repo/fork)'
        required: false
        type: string

jobs:
  release:
    uses: ./.github/workflows/.build.yml
    with:
      name: containerd
      release: ${{ inputs.release }}
      distros: ${{ inputs.distros }}
      envs: |
        PKG_REPO=${{ inputs.repo }}
        PKG_REF=${{ inputs.ref }}
        PKG_DEB_REVISION=${{ inputs.revision }}
        PKG_RPM_RELEASE=${{ inputs.revision }}
        RUNC_REF=${{ inputs.runc_ref }}
    secrets: inherit
