name: release-containerd

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
    inputs:
      ref:
        description: 'Ref (e.g. v1.6.15)'
        required: true
        type: string
      repo:
        description: 'Override default repo'
        required: false
        type: string
      runc_repo:
        description: 'Override runc repo'
        required: false
        type: string
      runc_ref:
        description: 'Override runc ref'
        required: false
        type: string
      release:
        description: 'Push image and create release'
        required: false
        type: boolean

jobs:
  release:
    uses: ./.github/workflows/.release.yml
    with:
      name: containerd
      release: ${{ inputs.release }}
      env: |
        CONTAINERD_REPO=${{ inputs.repo }}
        CONTAINERD_REF=${{ inputs.ref }}
        RUNC_REPO=${{ inputs.runc_repo }}
        RUNC_REF=${{ inputs.runc_ref }}
    secrets: inherit
